@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="center">
<div class="notCenter">


<form method="post">
    <h2>Log in to your account</h2>
    <hr />
    <!-- TODO: Add a red color to the validation summary and validation spans -->
    <div asp-validation-summary="ModelOnly"></div>   
    <div class="form__group">
        <input asp-for="Input.Email" class="form__field" placeholder=Email/>
         <label asp-for="Input.Email" class="form__label"></label>
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div class="form__group">
        <input asp-for="Input.Password" class="form__field" placeholder=Password/>
        <label asp-for="Input.Password" class="form__label"></label>
        <span asp-validation-for="Input.Password"></span>
    </div>
    <br/>
    <div>
        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
             @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
        
    </div>
    <br/>
    <div>
    <button type="submit" class="button-good">Log in</button>
    </div>
    <div>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div>
</form>
</div>
</div>
