@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>Create a new account</h2>
    <hr />
    <!-- TODO: Add a red color to the validation summary and validation spans -->
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <button type="submit">Register</button>
    <div>
        <p>
            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login to your account</a>
        </p>
    </div>
</form>
